.sidebar-section {
  margin: 20px 20px 0 20px;
}

.sidebar-content,
layout-editor > box > stack > box {
  margin: 20px 0 20px 10px;
  border-spacing: 10px;
}

.sidebar-row {
  border-spacing: 10px;
}

.json {
  margin: 20px 0;
}

textview.json-editor.error {
  border: 1px solid red;
}

textview.json-editor:not(.error) {
  border: 1px solid transparent;
}

size-editor {
  border-spacing: 6px;
}

button.small label {
  margin: 0;
}

revealer.sidebar {
  border-left: 1px solid gray;
}

.run-info-grid {
  border-spacing: 10px;
}
